body {
  margin: 0;
}

* {
  font-family: Roboto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(229, 162, 18) 100%
  );
}

a {
  margin: 1rem;
  text-decoration: none;
  color: inherit;
  outline: 1px solid;
  padding: 2rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.2rem;
}

form button {
  background-color: gray;
  color: white;
}
